{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div id="main" role="main">

    <div id="content" class="article">
        <h1 id="article_title" class="entry-title">{{ .Title }}</h1>

        <div class="byline">
            by <a href="/about/" class="author vcard">David Winterbottom</a>
            on <time class="published" datetime="">{{ .Date.Format "Monday, 2nd January 2006" }}</time>
        </div>

        <div id="article" class="entry-content">
            {{ .Content }}
        </div>

        <div id="links">
            <hr/>
            <p>
            {{ if isset .Params "tags" }}
                Tagged with:
                {{ $num_tags := len .Params.Tags }}
                {{ range $index, $tag := .Params.Tags }}{{ if ne $index 0 }},{{ end}} <a href="/tags/{{ $tag | urlize }}">{{ . }}</a>{{ end }}
                <br/>
            {{ end }}
            {{ if .Section }}
                Filed in: <a href="/{{ .Section }}/">{{ .Section | title }}</a>.<br/>
            {{ end }}
            {{ if .Next }}
                Previous: <a href="{{ .Next.URL }}">{{ .Next.Title }}</a><br/>
            {{ end }}
            {{ if .Prev }}
                Next: <a href="{{ .Prev.URL }}">{{ .Prev.Title }}</a>
            {{ end }}
            </p>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}

