<!doctype html>
{{ "<!--[if lt IE 7]>" | safeHTML }}<html class="no-js ie6 oldie" lang="en">{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }}<html class="no-js ie7 oldie" lang="en">{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }}<html class="no-js ie8 oldie" lang="en">{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }}<html class="no-js" lang="en"> {{ "<!--<![endif]-->" | safeHTML }}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {{ template "_internal/google_analytics.html" . }}

        {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <!-- RSS -->
        <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">

        <!-- Custom fonts -->
        <link href='https://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css' />

        <!-- Site title and metadata -->
        {{ $isHomePage := eq .Title .Site.Title }}
        <title>{{ if eq .IsNode true }}{{ .Title | title }}{{ else }}{{ .Title }}{{ end }}{{ if eq $isHomePage false }} — {{ .Site.Params.author }}{{ end }}</title>

        <meta name="author" content="{{ .Site.Params.author }}">
        <meta name="description" content="{{ if eq $isHomePage true }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">

    </head>

    <body>

        <article class="hentry" id="container">
