{{ partial "header.html" . }}

<div id="main" role="main" class="home">

    <!-- This should probably be in a header tag -->
    <div id="logo">
        <h1>David Winterbottom</h1>
        <h3 id="screen_nav">
            &laquo;
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="http://twitter.com/codeinthehole" title="Once I made a funny on the Twitter">tweets</a> | 
			<a href="/code/" title="See my source code">code</a> |
			<a href="/about/" title="Read what's in my brain">about</a> 
			&raquo;
        </h3>
        <h3 id="mobile_nav">
            <!-- Writing about code -->
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="/about/" title="Read what's in my brain">about</a> |
            <a href="/code/" title="See my source code">code</a> 
        </h3>
    </div>

    <div id="bio">
        <h2 id="home">Hello</h2>
        <p>
        I'm <strong>David Winterbottom</strong>, a minimalist software engineer working and living in London.
        </p>
        <p>
        I'm <strong>Head of Engineering</strong> at <a href="https://octopus.energy">Octopus Energy</a>, a UK energy supplier.
        </p>
        <p>
            I mainly write and <a href="/tweets/">tweet</a> about software development.
        </p>
        <a class="read-more" href="/about/">More about me &raquo;</a>
    </div>

    <!-- Re-use articles styles from list page -->
    <div id="content" class="articles">
        <h2>Recent writing</h2>
        {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
            <div class="article_summary">
                <div class="meta">
                    {{ .Date.Format "January 02, 2006" }}<br/>
                    <div class="tags">
                        {{ if isset .Params "tags" }}
                            {{ $num_tags := len .Params.Tags }}
                            {{ range $index, $tag := .Params.Tags }}{{ if ne $index 0 }},{{ end}} <a href="/tags/{{ $tag | urlize }}">{{ . }}</a>{{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="main">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <p>{{ .Description }}</p>
                </div>
            </div>
        {{ end }}
    </div>
    <a class="read-more" href="/writing/">All writing &raquo;</a>

</div>

{{ partial "footer.html" . }}
