{{ partial "header.html" . }}

<div id="main" role="main" class="home">

    <!-- This should probably be in a header tag -->
    <div id="logo">
        <h1>codeinthehole.com</h1>
        <h2>David Winterbottom</h2>
        <h3 id="screen_nav">
            &laquo;
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="http://twitter.com/codeinthehole" title="Once I made a funny on the Twitter">twitter</a> | 
			<a href="/code/" title="See my source code">code</a> |
			<a href="/about/" title="Read what's in my brain">about</a> 
			&raquo;
        </h3>
        <h3 id="mobile_nav">
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="/code/" title="See my source code">code</a> |
            <a href="/about/" title="Read what's in my brain">about</a> 
        </h3>
    </div>

    <h2 id="home">Hello</h2>
    <div id="bio">
        <img id="about-photo" src="http://gravatar.com/avatar/52d39c7b27386ca98bc016119d95b8b8?s=120" />
        <p>I'm David Winterbottom, a minimalist software engineer living in London.</p>

        <p>
        I'm Head of Engineering at <a href="https://octopus.energy">Octopus Energy</a>, a UK energy supplier.
        Previously, I was Head of Engineering at <a href="http://yoyowallet.com">Yoyo Wallet</a>, a mobile payments startup, and
        a Technical Director of <a href="http://www.tangentsnowball.com">Tangent Snowball</a>, a digital agency.
        </p>
    </div>

    <h2 id="writing">Words</h2>
    <div id="content" class="articles">
        {{ range first 10 .Data.Pages }}
            <div class="article">
                <div class="meta">
                    {{ .Date.Format "January 02, 2006" }}<br/>
                    <div class="tags">
                        {{ if isset .Params "tags" }}
                            {{ $num_tags := len .Params.Tags }}
                            {{ range $index, $tag := .Params.Tags }}{{ if ne $index 0 }},{{ end}} <a href="/tags/{{ $tag | urlize }}">{{ . }}</a>{{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="main">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <p>{{ .Description }}</p>
                </div>
            </div>
        {{ end }}
    </div>

    <a class="read-more" href="/writing/">All writing &raquo;</a>

</div>

{{ partial "footer.html" . }}
