{{ partial "header.html" . }}

<div id="main" role="main" class="home">

    <!-- This should probably be in a header tag -->
    <div id="logo">
        <h1>David Winterbottom</h1>
        <h3 id="screen_nav">
            &laquo;
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="https://til.codeinthehole.com" title="Today I Learnt...">TIL</a> | 
			<a href="/code/" title="See my source code">code</a> |
			<a href="/about/" title="Read what's in my brain">about</a> |
			<a href="/now/" title="What's going on now?">now</a> 
			&raquo;
        </h3>
        <h3 id="mobile_nav">
            <!-- Writing about code -->
            <a href="/writing/" title="Read what's in my brain">writing</a> | 
            <a href="https://til.codeinthehole.com">TIL</a> | 
            <a href="/about/" title="Read what's in my brain">about</a>
        </h3>
    </div>

    <div id="bio">
        <h2 id="home">Hello!</h2>
        <p>
            I'm <strong>David Winterbottom</strong>. 
        </p>
        <p>
            You might remember me from such tweets as:
        </p>

        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">On your first day at the new job, squash every commit from the repo into a single commit with message &quot;Legacy code&quot; and force-push to master.</p>&mdash; David Winterbottom (@codeinthehole) <a href="https://twitter.com/codeinthehole/status/1029682224713617408?ref_src=twsrc%5Etfw">August 15, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p>
            and
        </p>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Desirable developer skills:<br><br>1 Ability to ignore new tools and technologies<br>2 Taste for simplicity <br>3 Good code deletion skills <br>4 Humility</p>&mdash; David Winterbottom (@codeinthehole) <a href="https://twitter.com/codeinthehole/status/540117725604216832?ref_src=twsrc%5Etfw">December 3, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <p>
        I'm a software engineer working and living in London. 
        </p>
        <p>
            I'm a <strong>Principal Engineer</strong> at <a
                href="https://kraken.tech/">Kraken Technologies</a>, part of the
            <a href="https://octopusenergy.group/">Octopus Energy Group</a>.
        </p>
        <p>
            I mainly write—here, on my <a
                href="https://til.codeinthehole.com/">Today-I-Learned</a> log,
            and on social media—about software development and climate change.
        </p>
        <p>
            I'm <a href="https://twitter.com/codeinthehole">@codeinthehole</a> on Twitter, and <a href="https://mastodon.social/@codeinthehole">@codeinthehole@mastodon.social</a> on Mastodon.
        </p>

        <a class="read-more" href="/about/">More about me &raquo;</a>
    </div>

    <!-- Re-use articles styles from list page -->
    <div id="content" class="articles">
        <h2>Recent writing</h2>
        {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
            <div class="article_summary">
                <div class="meta">
                    {{ .Date.Format "January 02, 2006" }}<br/>
                    <div class="tags">
                        {{ if isset .Params "tags" }}
                            {{ $num_tags := len .Params.Tags }}
                            {{ range $index, $tag := .Params.Tags }}{{ if ne $index 0 }},{{ end}} <a href="/tags/{{ $tag | urlize }}">{{ . }}</a>{{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="main">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <p>{{ .Description|markdownify }}</p>
                </div>
            </div>
        {{ end }}
    </div>
    <a class="read-more" href="/writing/">All writing &raquo;</a>

</div>

{{ partial "footer.html" . }}
